<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
    {# Je crée des blocks qui vont être remplis dynamiquement avec les infos propres à chaque page #}
        <title>Inscription - YouTwitch</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="{{ asset('img/icon2.png') }}" />
</head>
<body>

{{ include('includes/header.html.twig') }}

<br><br><br><br>

<h1 class="text-center mt-5 mb-3">Connexion</h1>

<section class="d-flex justify-content-center">
    {{ form_start(form, {'attr': {'class': 'col-5 alert alert-dark'}}) }} {#permet de créer la balise <form>#}
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Rentrez un Pseudo'}}) }} {#permet de créer les champs#}

        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Rentrez un E-Mail'}}) }} {#permet de créer les champs#}

        {{ form_widget(form.plainPassword) }} {#permet de créer les champs#}

        {{ form_label(form.twitchLogin) }}
        {{ form_widget(form.twitchLogin, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Se trouve après "twitch.tv/" sur la page de votre chaine'} }) }}

        <div class="text-center">
            {{ form_row(form.ajouter) }}
            {# Va générer le label, les erreurs et le champ Content en une instruction #}
        </div>
    {{ form_end(form) }} {# va fermer la balise </form> en plus d'autres chose que l'on verra ensuite#}
</section>

</body>
</html>