{% extends 'logLayout.html.twig' %}

{% block title %}Inscription - YouTwitch{% endblock %}

{% block content %}

    <section class="d-flex justify-content-center">
        <div class="card col-5">
            <div class="card-body">
{#Formulaire de connexion#}
                <h3 class="card-title titleForm" style="text-align: center;font-weight: bold;">Inscription</h3>
                <br>

                {{ form_start(form) }} {#permet de créer la balise <form>#}
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Rentrez un Pseudo'}}) }} {#permet de créer les champs#}

                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr' : {'class' : 'mb-3', 'placeholder' : '@'}}) }} {#permet de créer les champs#}

                {{ form_widget(form.plainPassword) }} {#permet de créer les champs#}


                {{ form_label(form.phone) }}
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone, {'attr' : {'class' : 'mb-3', 'placeholder' : '0000000000'}}) }} {#permet de créer les champs#}

                {{ form_label(form.address) }}
                {{ form_errors(form.address) }}
                {{ form_widget(form.address, {'attr' : {'class' : 'mb-3', 'placeholder' : '3, Avenue du bonheur'}}) }} {#permet de créer les champs#}

                {{ form_label(form.birthdate) }}
                {{ form_errors(form.birthdate) }}
                {{ form_widget(form.birthdate, {'attr' : {'class' : 'mb-3'}}) }} {#permet de créer les champs#}

                {{ form_label(form.twitchLogin) }}
                {{ form_widget(form.twitchLogin, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Se trouve après "twitch.tv/" sur la page de votre chaine'} }) }}

                {{ form_label(form.YoutubeLogin) }}
                {{ form_widget(form.YoutubeLogin, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Cliquez sur votre avatar puis -> "Afficher ma chaîne" -> Copier l\'URL '} }) }}

                <span class="text-danger">* champ obligatoire</span>
                <div class="text-center">
                    {{ form_row(form.ajouter) }}
                    {# Va générer le label, les erreurs et le champ Content en une instruction #}
                </div>

                {{ form_end(form) }} {# va fermer la balise </form> en plus d'autres chose que l'on verra ensuite#}
            </div>

        </div>
    </section>

{% endblock %}