{{ include('includes/header.html.twig') }}


<nav class="container mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link lien" id="youtube" href="{{ path('video') }}">Youtube</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active twitch" id="twitch" href="{{ path('twitch') }}">Twitch</a>
        </li>
    </ul>
</nav>

{% if data is not null %}
    <section>

        {% for follow_data in data %}

            <section class="followed-user d-flex mt-5">

                <div class="col-md-2 d-flex flex-column align-self-start">
                    <a class="titleOrange myFont" href="{{ path('twitch-stream', {'login': follow_data.login, 'display_name': follow_data.display_name}) }}">
                        <h4>
                            {% if follow_data.user_id in streams_user_id %}
                                <i style="color:green" class="mr-1 fas fa-circle"></i>
                            {% endif %}
                            {{ follow_data.display_name }}
                        </h4>

                        {% for user in followed_users %}
                            {% if user.login is same as(follow_data.login) %}
                                <img  width="150" height="150" src="{{ user.profile_image_url }}" alt="Image de profil de {{ user.display_name }}">
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>


                <div class="col-md-10 d-flex flex-column">
                    <div>

                        {# Clips récents pour chaque streamer #}
                        {% if follow_data.clip_data is empty %}

                            <h5 class="text-muted mb-5 h-150 myFont">Aucun clip récent</h5>

                        {% else %}

                            <h5 class="mb-3 myFont">Clips récents : </h5>
                            <div class="d-flex justify-content-start flex-wrap mb-3 mx-3">



                                {% for clip in follow_data.clip_data %}

                                    <div class="grid">
                                        <figure class="effect-duke">
                                            <img src="{{ clip.thumbnails.small }}" alt="Miniature du clip">
                                            <figcaption>
                                                <p>{{ clip.game|slice(0, 35) }} <br> le {{ clip.created_at|date('d M') }}</p>
                                                <a href="{{ path('twitch-clip', {'login': follow_data.login, 'slug': clip.slug}) }}">View more</a>
                                            </figcaption>
                                        </figure>
                                        <h6 class="text-muted thumbnail-title d-block col-12 text-center">{{ clip.title|length > 35 ? clip.title|slice(0, 35) ~ '...' : clip.title  }}</h6>
                                    </div>

                                {% endfor %}

                            </div>

                        {% endif %}

                        {# Replays récents pour chaque streamer #}

                        {% if follow_data.replay_data is empty %}

                            <h5 class="text-muted mb-5 h-150 myFont">Aucun replay récent</h5>

                        {% else %}

                            <h5 class="mb-3 myFont">Replays récents :</h5>
                            <div class="d-flex justify-content-start flex-wrap mb-3 mx-3">

                                {% for replay in follow_data.replay_data %}


                                    <div class="grid">
                                        <figure class="effect-duke">
                                            {% if replay.thumbnail_url is empty %}
                                                <div style="background-color:black;width:260px;height:147px"></div>
                                            {% else %}
                                                <img src="{{ replay.thumbnail_url }}" alt="Miniature du replay">
                                            {% endif %}
                                            <figcaption>
                                                <p>Le {{ replay.created_at|date('d M') }} à {{ replay.created_at|date('G:i') }}</p>
                                                <a href="{{ path('twitch-video', {'login': follow_data.login, 'vid_id': replay.id}) }}">View more</a>
                                            </figcaption>
                                        </figure>
                                        <h6 class="text-muted thumbnail-title d-block col-12 text-center">{{ replay.title|length > 30 ? replay.title|slice(0, 30) ~ '...' : replay.title  }}</h6>
                                    </div>

                                {% endfor %}

                            </div>

                        {% endif %}

                    </div>
                </div>
            </section>

            <hr class="bg-orange">

        {% endfor %}
    </section>
{% else %}
    <section class="container mt-5">
        <h2>Ajoutez une chaine Twitch à votre profil pour accéder à vos abonnements !</h2>
        <a style="font-size:20px;" href="{{ path('show-user') }}">C'est par ici !</a>
    </section>
{% endif %}