{{ include('includes/header.html.twig') }}


<nav class="container mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="youtube" href="{{ path('video') }}">Youtube</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active twitch" id="twitch" href="{{ path('twitch') }}">Twitch</a>
        </li>
    </ul>
</nav>

<section>

    {% for follow_data in data %}

    <section class="followed-user d-flex mt-5">
        <div class="col-md-2">
            <a class="link-no-style" href="{{ path('twitch-stream', {'login': follow_data.login, 'display_name': follow_data.display_name}) }}">
                <h4>{{ follow_data.display_name }}
                    {% if follow_data.user_id in streams_user_id %}
                        <i style="color:green" class="mr-1 fas fa-circle"></i></a>
                    {% endif %}
                </h4>

                {% for user in followed_users %}
                    {% if user.login is same as(follow_data.login) %}
                        <img  width="150" height="150" src="{{ user.profile_image_url }}" alt="Image de profil de {{ user.display_name }}">
                    {% endif %}
                {% endfor %}
            </a>
        </div>
        <div class="col-md-10 d-flex flex-column">
            <div>
                
                {# Clips récents pour chaque streamer #}
                {% if follow_data.clip_data is empty %}

                    <h5 class="text-muted mb-5 h-150">Aucun clip récent</h5>

                {% else %}

                    <h5 class="mb-3">Clips récents : </h5>
                    <div class="d-flex justify-content-around mb-3">

                        

                        {% for clip in follow_data.clip_data %}
                            
                            <div class="d-flex flex-column">
                                <a href="{{ path('twitch-clip', {'login': follow_data.login, 'slug': clip.slug}) }}">
                                    <img src="{{ clip.thumbnails.small }}" alt="Miniature du clip">
                                </a>
                                <h6 class="text-muted w-260">{{ clip.game }} <br> le {{ clip.created_at|date('d M') }}</h6>
                            </div>

                        {% endfor %}

                    </div>

                {% endif %}

                {# Replays récents pour chaque streamer #}

                {% if follow_data.replay_data is empty %}

                    <h5 class="text-muted mb-5 h-150">Aucun replay récent</h5>

                {% else %}

                    <h5 class="mb-3">Replays récents :</h5>
                    <div class="d-flex justify-content-around mb-3">

                        {% for replay in follow_data.replay_data %}

                        <div class="d-flex flex-column">
                            <a href="{{ path('twitch-video', {'login': follow_data.login, 'vid_id': replay.id}) }}">

                                {% if replay.thumbnail_url is empty %}
                                <div style="background-color:black;width:260px;height:147px"></div>
                                {% else %}
                                <img src="{{ replay.thumbnail_url }}" alt="Miniature du replay">
                                {% endif %}
                            </a>
                            <h6 class="text-muted w-260">Le {{ replay.created_at|date('d M') }} à {{ replay.created_at|date('G:i') }}</h6>
                        </div>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>
        </div>
    </section>
<hr>
    {% endfor %}
</section>
                            <!-- <iframe src="https://clips.twitch.tv/embed?clip={# clip.slug #}&tt_medium=clips_api&tt_content=embed"  
                            frameborder="0" 
                            allowfullscreen="true" 
                            scrolling="no" 
                            height="567"
                            width="930">
                            </iframe>