{{ include('includes/header.html.twig') }}


<nav class="container mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="youtube" href="{{ path('video') }}">Youtube</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="twitch" href="{{ path('twitch') }}">Twitch</a>
        </li>
    </ul>
</nav>

<section>
    {% for follow_data in data %}

    <a class="link-no-style" href="{{ path('twitch-stream', {'login': follow_data.login, 'display_name': follow_data.display_name}) }}">
        <h4>{{ follow_data.display_name }}
            {% if follow_data.user_id in streams_user_id %}
                <i style="color:green" class="mr-1 fas fa-circle"></i></a>
            {% endif %}
        </h4>
    </a>
    
    <div class="clip">
        
    </div>

    {% endfor %}
</section>
                            <!-- <iframe src="https://clips.twitch.tv/embed?clip={# clip.slug #}&tt_medium=clips_api&tt_content=embed"  
                            frameborder="0" 
                            allowfullscreen="true" 
                            scrolling="no" 
                            height="567"
                            width="930">
                            </iframe>