{{ include('includes/header.html.twig') }}

<nav class="container mb-3">
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link active" id="youtube" href="{{ path('video') }}">Youtube</a>
        </li>
        <li class="nav-item">
            <a class="nav-link lien" id="twitch" href="{{ path('twitch') }}">Twitch</a>
        </li>

    </ul>
</nav>


<section class="d-flex justify-content-around flex-wrap">
    {% for BestYVidAllTime in BestYVidsAllTime %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ BestYVidAllTime.id.videoId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    {% endfor %}
</section>

<hr class="bg-orange">

<section class="mt-3">
    <h3 class="ss-titre">Vidéos populaires – HIER</h3>
    <div class="d-flex justify-content-around flex-wrap mt-3">
        {% for key, BestYvid in BestYVids %}
            <div class="grid">
                <figure class="effect-duke">
                    <img src="{{ BestYvid.snippet.thumbnails.medium.url }}" alt="Miniature" title="Miniature">
                    <figcaption>
                        <p>{{ BestYvid.snippet.title|truncate(20,true) }}<br>
                            {% set viewCount = details3[key].0.statistics.viewCount %}
                            {{ viewCount|number_format(0, '', ' ') }} vues</p>
                        <a data-fancybox href="https://www.youtube.com/watch?v={{ BestYvid.id.videoId }}">View more</a>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
</section>

<hr class="bg-orange">

<section class="mt-3">
    <h3 class="ss-titre">Vidéos populaires – SPORT</h3>
    <div class="d-flex justify-content-around flex-wrap mt-3">
        {% for key, BestSVid in BestSVids %}
            <div class="grid">
                <figure class="effect-duke">
                    <img src="{{ BestSVid.snippet.thumbnails.medium.url }}" alt="Miniature" title="Miniature">
                    <figcaption>
                        <p>{{ BestSVid.snippet.title|truncate(20,true) }}<br>
                            {% set viewCount = detailsSport[key].0.statistics.viewCount %}
                            {{ viewCount|number_format(0, '', ' ') }} vues</p>
                        <a data-fancybox href="https://www.youtube.com/watch?v={{ BestSVid.snippet.resourceId.videoId }}">View more</a>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
</section>

<hr class="bg-orange">

<section class="mt-3">
    <h3 class="ss-titre">Dernières vidéos – GAMING</h3>
    <div class="d-flex justify-content-around flex-wrap mt-3">
        {% for key, GamingVid in GamingVids %}
            <div class="grid">
                <figure class="effect-duke">
                    <img src="{{ GamingVid.snippet.thumbnails.medium.url }}" alt="Miniature" title="Miniature">
                    <figcaption>
                        <p>{{ GamingVid.snippet.title|truncate(20,true) }}<br>
                            {% set viewCount = detailsGaming[key].0.statistics.viewCount %}
                            {{ viewCount|number_format(0, '', ' ') }} vues</p>
                        <a data-fancybox href="https://www.youtube.com/watch?v={{ GamingVid.snippet.resourceId.videoId }}">View more</a>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
</section>
