{{ include('includes/header.html.twig') }}

<nav class="container mb-3">
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" id="youtube" href="{{ path('video') }}">Youtube</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="twitch" href="{{ path('twitch') }}">Twitch</a>
        </li>

    </ul>
</nav>

<section class="d-flex justify-content-around flex-wrap">
    {% for BestYVidAllTime in BestYVidsAllTime %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ BestYVidAllTime.id.videoId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    {% endfor %}
</section>

<section class="mt-5">
    <h3>Vidéos les plus populaires d'hier</h3>
    <div class="d-flex justify-content-around flex-wrap mt-3">
        {% for key, BestYvid in BestYVids %}
        <a href="{{ path('YVod', {idVideo: BestYvid.id.videoId}) }}" class="text-dark col-3">
            <img src="{{ BestYvid.snippet.thumbnails.medium.url }}" alt="Miniature" title="Miniature">
            <p class="mt-1">{{ BestYvid.snippet.title }}</p>
            <p>{% set viewCount = details3[key].0.statistics.viewCount %}
            {{ viewCount }} vues</p>
        </a>
        {% endfor %}
    </div>
</section>

<section class="mt-5">
    <h3>Surf</h3>
    <div class="d-flex justify-content-around flex-wrap mt-3">
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini2.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini2.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini2.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini2.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
    </div>
</section>

<section class="mt-5">
    <h3>League Of Legends</h3>
    <div class="d-flex justify-content-around flex-wrap mt-3">
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini3.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini3.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini3.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
        <a href="" class="text-dark col-3">
            <img src="{{ asset('img/mini3.jpg') }}" alt="Miniature" title="Miniature">
            <p class="mt-1">Laosaurus Scaphonyx Bienosaurus.</p>
        </a>
    </div>
</section>
