{% extends 'layout.html.twig' %}

{% block title %}Modification de l'utilisateur - YouTwitch{% endblock %}
{% block titlepage %}Modification de l'utilisateur{% endblock %}

{% block content %}
    {{ form_start(form) }} {# Permet de créer la balise <form> #}

    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username, {'attr' : {'class' : 'mb-3'}}) }} {# Permet de créer les champs #}

    <label for="roles">Choisir un rôle</label>
    <select name="roles[]" multiple id="roles" class="form-control mb-3">
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        <option value="ROLE_USER">ROLE_USER</option>
        <option value="ROLE_AUTEUR">ROLE_AUTEUR</option>
    </select>

    {{ form_label(form.image) }}
    {{ form_errors(form.image) }}
    {{ form_widget(form.image) }} {# Permet de créer les champs #}

    {{ form_widget(form.ajouter) }} {# Permet de créer les champs #}

    {{ form_end(form) }} {# Va fermer la balise </form> #}
{% endblock %}
