{% extends 'layout.html.twig' %}

{% block title %}Modification de l'utilisateur - YouTwitch{% endblock %}

{% block content %}
<section class="d-flex justify-content-center">
    <div class="card col-8 bg-dark mt-5">
        <div class="card-body">

            <h3 class="card-title titleOrange titleFontForm" style="text-align: center;font-weight: bold;">Modification de l'utilisateur</h3>
            <br>

            {{ form_start(form, {'attr' : {'class' : 'text-light'}}) }} {# Permet de créer la balise <form> #}

                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr' : {'class' : 'mb-3'}}) }} {# Permet de créer les champs #}

                <label for="roles">Choisir un rôle</label>
                <select name="roles[]" multiple id="roles" class="form-control mb-3">
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                    <option value="ROLE_USER">ROLE_USER</option>
                    <option value="ROLE_AUTEUR">ROLE_AUTEUR</option>
                </select>

                {{ form_label(form.image) }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image) }} {# Permet de créer les champs #}

                <div class="text-center">
                    {{ form_row(form.modifier) }}
                    {# Va générer le label, les erreurs et le champ Content en une instruction #}
                </div>

            {{ form_end(form) }} {# Va fermer la balise </form> #}

        </div>
    </div>
</section>
{% endblock %}
