{% extends 'layout.html.twig' %}
{% block title %}{{ user.username }} - YouTwitch{% endblock %}
{% block titlepage %}{{ user.username }}{% endblock %}
{% block content %}

    <a href="{{ path('admin')}}" class="btn btn-orange mb-3">Retour</a>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="sizeimg">
                    {% if user.image %}
                        <img class="img-thumbnail" src="{{ asset('uploads/images/' ~ user.image)}}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Pseudo</strong> : {{ user.username }}</p>
                <p><strong>Email</strong> : {{ user.email }}</p>
                <p><strong>Date de naissance</strong> : {{ user.birthdate|date("d/m/Y") }}</p>
                {% if user.phone %}
                    <p><strong>Numéro de téléphone</strong> : {{ user.phone }}</p>
                {% endif %}{% if user.address %}
                    <p><strong>Adresse</strong> : {{ user.address }}</p>
                {% endif %}{% if user.twitchLogin %}
                    <p><strong>Compte Twitch liés</strong> : {{ user.twitchLogin }}</p>
                {% endif %}
            </div>
            <div class="col-6 col-md-4">
                <a class="nav-link orange" href="{{ path('admin-user-update',{id : user.id})}}">
                    <i class="fas fa-edit"></i> Modifier
                </a>
                <a href="javascript:;" class="nav-link orange" id="test_confirm">
                    <i class="fas fa-trash-alt"></i> Supprimer
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        // Step 1: Création jQuery du plugin

        $.fancyConfirm = function( opts ) {
            opts  = $.extend( true, {
                title     : 'Are you sure?',
                message   : '',
                okButton  : 'OK',
                noButton  : 'Cancel',
                callback  : $.noop
            }, opts || {} );

            $.fancybox.open({
                type : 'html',
                src  :
                    '<div class="fc-content">' +
                    '<h3>' + opts.title   + '</h3>' +
                    '<p>'  + opts.message + '</p>' +
                    '<p class="tright">' +
                    '<a data-value="0" data-fancybox-close class="btn">' + opts.noButton + '</a>' +
                    '<a data-value="1" href="{{ path('admin-user-delete',{id : user.id})}}" class="btn btn-orange">' + opts.okButton + '</a>' +
                    '</p>' +
                    '</div>',
                opts : {
                    animationDuration : 350,
                    animationEffect   : 'material',
                    modal : true,
                    baseTpl :
                        '<div class="fancybox-container fc-container" role="dialog" tabindex="-1">' +
                        '<div class="fancybox-bg"></div>' +
                        '<div class="fancybox-inner">' +
                        '<div class="fancybox-stage"></div>' +
                        '</div>' +
                        '</div>',
                    afterClose : function( instance, current, e ) {
                        var button = e ? e.target || e.currentTarget : null;
                        var value  = button ? $(button).data('value') : 0;

                        opts.callback( value );
                    }
                }
            });
        }

        // Step 2: Utilisation du plugin

        $("#test_confirm").click(function() {

            // Ouverture de la boîte de dialogue
            $.fancyConfirm({
                title     : " Etes-vous sûr de vouloir supprimer {{ user.username }} ?",
                okButton  : 'Supprimer',
                noButton  : 'Annuler',
            });

        });
    </script>
{% endblock %}