{% extends 'layout.html.twig' %}
{% block title %}{{ user.username }} - YouTwitch{% endblock %}
{% block titlepage %}{{ user.username }}{% endblock %}
{% block content %}

    <a href="{{ path('admin')}}" class="btn btn-orange mb-3">Retour</a>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="sizeimg">
                    {% if user.image %}
                        <img class="img-thumbnail" src="{{ asset('uploads/images/' ~ user.image)}}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Pseudo</strong> : {{ user.username }}</p>
                <p><strong>Email</strong> : {{ user.email }}</p>
                <p><strong>Date de naissance</strong> : {{ user.birthdate|date("d/m/Y") }}</p>
                {% if user.phone %}
                    <p><strong>Numéro de téléphone</strong> : {{ user.phone }}</p>
                {% endif %}{% if user.address %}
                    <p><strong>Adresse</strong> : {{ user.address }}</p>
                {% endif %}{% if user.twitchLogin %}
                    <p><strong>Date de naissance</strong> : {{ user.twitchLogin }}</p>
                {% endif %}
            </div>
            <div class="col-6 col-md-4">
                <a class="nav-link orange" href="{{ path('admin-user-update',{id : user.id})}}">
                    <i class="fas fa-edit"></i> Modifier
                </a>
                <a class="nav-link orange" href="{{ path('admin-user-delete',{id : user.id})}}">
                    <i class="fas fa-trash-alt"></i> Supprimer
                </a>
            </div>
        </div>
    </div>

{% endblock %}