<header id="header">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-1shadow">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('video') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Logo" title="Logo" class="w-50">
            </a>
        {% else %}
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Logo" title="Logo" class="w-50">
            </a>
        {% endif %}
        <input class="form-control form-control-dark w-66" type="text" placeholder="Search" aria-label="Search" id="check2">
        <i class="fas fa-search isize"></i>
        {% block js %}
            <script>
                $(function() {

                    $('body').on('keyup','#check2',function(e){
                        e.preventDefault();
                        var url2 = "{{  path('YsearchBar',{terme:'exemple'}) }}";
                        //console.log(url2);
                        url2 = url2.replace('exemple',$('#check2').val());
                        url2 = url2.replace(/ /g, '+');
                        //console.log(url2);
                        $('.searchY').css('display', 'block');
                        $('#resultYoutube').empty();
                        $.ajax({
                            type:'get',
                            url:url2,
                            timeout:'3000',
                            dataType:'html',
                            success: function(data){
                                $('#resultYoutube').empty(data);
                                $('#resultYoutube').html(data);
                            },
                            error: function (error){
                                console.log(error.responseText);
                            }
                        })
                    })

                    // Permet de faire le click avant l'execution du blur
                    $('body').on('mousedown', '.ownerYt', function(){
                        event.preventDefault();
                        //console.log('fggsfg');
                        $(this).click();
                    })

                    // Show/Hide Youtube research
                    $('#check2').on('blur', function(e){
                        //console.log($(this));
                        if ($('.searchY').css('display') === "block") {
                            $('.searchY').css('display', 'none');
                        }
                    })

                    // Show/Hide Youtube research
                    $('#check2').on('focus', function(e){
                        //console.log($(this));
                        if ($('.searchY').css('display') === "none") {
                            $('.searchY').css('display', 'block');
                        }
                    })
                })
            </script>
        {% endblock %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-outline-orange my-2 my-sm-0 mr-3 ml-3" href="{{ path('logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('login') }}" class="btn btn-outline-orange my-2 my-sm-0 mr-3 ml-3">Connexion</a>
        {% endif %}
    </nav>
    <div class="searchY list-group">
        <div id="resultYoutube" class="searchDiv"></div>
    </div>
</header>