{# Début Nav #}
<div id="burger" class="burger bg-dark w-100">
    <div class="container">
        <div id="svg-burger">
            <i class="fas fa-bars fa-2x orange"></i>
        </div>
    </div>
</div>
<nav id="menu-principal" class="col-md-2 bg-light sidebar mt-5">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('video') }}">
                    <i class="fas fa-home"></i> Accueil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    <i class="fab fa-gripfire"></i> Tendances
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('show-user') }}">
                    <i class="fas fa-user-tie"></i> Mon profil
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('admin')}}">
                    <i class="fas fa-users"></i> Page administrateur
                </a>
            </li>
            {% endif %}
        </ul>


        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted"  style="font-family: 'Rock Salt', cursive;">

            <span>Mes abonnements</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h5>
            
            {# Chaines suivies en ligne #}
        <a id="online-users-dropdown" href="#">
            <h6 class="d-inline sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-3 text-muted-bis">
                <i style="color:green" class="mr-1 fas fa-circle"></i>
                    En live sur Twitch !
                <i class="fas fa-angle-down mr-2 dropdown-icon"></i>
            </h6>
        </a>

        <ul id="twitch-scrollbar" class="online-users nav flex-column flex-nowrap mb-2 scrollbar">
            
        {% for follow in follows %}

            {% if follow.id in streams_user_id %}
            <a class="twitch-sidebar-link" href="{{ path('twitch-stream', {'login': follow.login, 'display_name': follow.display_name}) }}">
                <div class="d-flex mb-2 ml-3">
                    <img class="mr-2" height="30" width="30" src="{{ follow.profile_image_url }}"> <span class="mr-2">{{ follow.display_name }}</span>
                    <hr>
                </div>
            </a>
            {% endif %}
            
        {% endfor %}

        </ul>


        {# Chaines suivies hors ligne #}
        <a id="offline-users-dropdown" href="#">
            <h6 class="d-inline sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-3 text-muted-bis">
                Hors ligne
                <i class="fas fa-angle-down mr-2 dropdown-icon"></i>
            </h6>
        </a>
        

        <div style="display:none;" id="offline-users">
            <ul id="twitch-scrollbar" class="nav flex-column flex-nowrap mb-2 scrollbar">
                
            {% for follow in follows %}

                {% if follow.id not in streams_user_id %}
                <a class="twitch-sidebar-link" href="{{ path('twitch-stream', {'login': follow.login, 'display_name': follow.display_name}) }}">
                    <div class="d-flex mb-2 ml-3">
                        <img class="mr-2" height="30" width="30" src="{{ follow.profile_image_url }}"> <span class="mr-2 text-muted">{{ follow.display_name }}</span>
                        <hr>
                    </div>
                </a>
                {% endif %}
                
            {% endfor %}

            </ul>
        </div>

    </div>
    <div class="mt-5"  style="font-family: 'Rock Salt', cursive;">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('propos') }}">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('rgpd') }}">Confidantialité</a>
            </li>
        </ul>
    </div>
</nav>
{% block js %}
    <script>
    $(function(){

        // Show/Hide offline users
        $('#offline-users-dropdown').on('click', function(e){
            e.preventDefault();
            if ($('#offline-users').css('display') === "none") {
                $('#offline-users').css('display', 'block');
            } else {
                $('#offline-users').css('display', 'none');
            }
        })

        // Show/Hide online users
        $('#online-users-dropdown').on('click', function(e){
            e.preventDefault();
            if ($('.online-users').css('display') === "none") {
                $('.online-users').css('display', 'block');
            } else {
                $('.online-users').css('display', 'none');
            }
        })

        // Show/Hide Menu
        var menu = $("#menu-principal");
        $("#svg-burger").on('click', function(e){
            if(menu.css('display') === 'none') {
                console.log('none to block');
                menu.css('display', 'block');
            }else{
                console.log('block to none');
                menu.css('display', 'none');
            }
        });
    })

    </script>
{% endblock %}
{# Fin Nav #}