{# Début Nav Smartphone #}

<div id="burger" class="burger">
    <div id="svg-burger">
        <i class="fas fa-bars fa-2x"></i>
    </div>
</div>
<nav id="menu-principal" class="nav-burger bg-light">
    <ul class="nav flex-column mt-3">
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('video') }}">
                <i class="fas fa-home"></i> Accueil
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                <i class="fab fa-gripfire"></i> Tendances
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('show-user') }}">
                <i class="fas fa-user-tie"></i> Mon profil
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('admin')}}">
                    <i class="fas fa-users"></i> Page administrateur
                </a>
            </li>
        {% endif %}
    </ul>

    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted"  style="font-family: 'Rock Salt', cursive;">
        <span>Mes abonnement</span>
        <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
        </a>
    </h5>

    <h6 class="d-inline sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-3 text-muted"><i style="color:green" class="mr-1 fas fa-circle"></i>Maintenant en live sur Twitch !</h6>

    <ul class="nav flex-column mb-2">

        {#{% for follow in follows %}

            {% if follow.id in streams_user_id %}
                <a class="twitch-sidebar-link" href="{{ path('twitch-stream', {'login': follow.login, 'display_name': follow.display_name}) }}">
                    <div class="d-flex mb-2 ml-3">
                        <img class="mr-2" height="30" width="30" src="{{ follow.profile_image_url }}"> <span class="mr-2">{{ follow.display_name }}</span>
                        <hr>
                    </div>
                </a>
            {% endif %}

        {% endfor %}#}

    </ul>
    <div class="mt-5"  style="font-family: 'Rock Salt', cursive;">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('propos') }}">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('rgpd') }}">Confidantialité</a>
            </li>
        </ul>
    </div>
</nav>
{# Fin Nav Smartphone #}