{# Début Nav Smartphone #}
<div id="burger" class="burger bg-dark w-100">
    <div class="container">
        <div id="svg-burger">
            <i class="fas fa-bars fa-2x orange"></i>
        </div>
    </div>
</div>
<nav id="menu-principal" class="nav-burger bg-light">
    <form class="form-inline bg-dark">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('video') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Logo" title="Logo" class="w-50">
            </a>
        {% else %}
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Logo" title="Logo" class="w-50">
            </a>
        {% endif %}

        <div class="container">
            <div class="d-flex justify-content-around">
                <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search" id="check2">
                <i class="fas fa-search isize ml-3"></i>
            </div>
        </div>


        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-orange my-2 my-sm-0 mr-3 ml-3" href="{{ path('logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('login') }}" class="btn btn-outline-orange my-2 my-sm-0 mr-3 ml-3">Connexion</a>
        {% endif %}
    </form>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('video') }}">
                <i class="fas fa-home"></i> Accueil
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                <i class="fab fa-gripfire"></i> Tendances
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('show-user') }}">
                <i class="fas fa-user-tie"></i> Mon profil
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('admin')}}">
                    <i class="fas fa-users"></i> Page administrateur
                </a>
            </li>
        {% endif %}
    </ul>

    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted"  style="font-family: 'Rock Salt', cursive;">
        <span>Mes abonnement</span>
        <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
        </a>
    </h5>

    <h6 class="d-inline sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-3 text-muted"><i style="color:green" class="mr-1 fas fa-circle"></i>Maintenant en live sur Twitch !</h6>


    {#<ul id="twitch-scrollbar" class="nav flex-column flex-nowrap mb-2 scrollbar">

        {% for follow in follows %}

            {% if follow.id in streams_user_id %}
                <a class="twitch-sidebar-link" href="{{ path('twitch-stream', {'login': follow.login, 'display_name': follow.display_name}) }}">
                    <div class="d-flex mb-2 ml-3">
                        <img class="mr-2" height="30" width="30" src="{{ follow.profile_image_url }}"> <span class="mr-2">{{ follow.display_name }}</span>
                        <hr>
                    </div>
                </a>
            {% endif %}

        {% endfor %}

    </ul>#}


    {# Chaines suivies hors ligne #}
    <a id="offline-users-dropdown" href="#">
        <h6 class="d-inline sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-3 text-muted-bis">
            Hors ligne
            <i class="fas fa-angle-down mr-2 dropdown-icon"></i>
        </h6>
    </a>
    <div class="mt-5"  style="font-family: 'Rock Salt', cursive;">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('propos') }}">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('rgpd') }}">Confidentialité</a>
            </li>
        </ul>
    </div>
</nav>

{% block js %}
<script>
$(function(){

    //Searchbar
    $('body').on('keyup','#check2',function(e){
        e.preventDefault();
        var url2 = "{{  path('YsearchBar',{terme:'exemple'}) }}";
        console.log(url2);
        url2 = url2.replace('exemple',$('#check2').val());
        console.log(url2);

        $.ajax({
            type:'get',
            url:url2,
            timeout:3000,
            dataType:'html',
            success: function(data){
                $('#resultYoutube').html(data);
            },
            error: function (error){
                console.log(error.responseText);
            }
        })
    })

    //Menu burger
    var menu = $("#menu-principal");
    console.log('non');
    $("#svg-burger").onclick = function(){
        console.log('oui');
        if (menu.style.display !== "block") {
            console.log('display block');
            menu.style.display = 'block';
        }else{
            console.log('display none');
            menu.style.display = 'none';
        }
    };
})
    
</script>
{% endblock %}
{# Fin Nav Smartphone #}