{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% for detail in details %}

        <section class="d-flex justify-content-center">
            <a href="https://www.youtube.com/channel/{{ channelId }}" target="_blank" class="mr-5"><img src="{{ detail.snippet.thumbnails.default.url }}" style="padding-top: 5px"></a>
            <a href="https://www.youtube.com/channel/{{ channelId }}" target="_blank" class="align-self-center titleOrange"><h3>{{ detail.snippet.title }}</h3></a><br>
        </section>
        <br>
        <section class="d-flex justify-content-center">
            <p class="mr-3"><b>Membres depuis le :</b> {{ detail.snippet.publishedAt|date('d M Y') }}</p>
            <p class="mr-3"><b>Vues totales :</b> {{ detail.statistics.viewCount|number_format(0, '', ' ') }}</p>
            <p class="mr-3"><b>Nombre d'abonnés :</b> {{ detail.statistics.subscriberCount|number_format(0, '', ' ') }}</p>
            <p class="mr-3"><b>Nombre totale de vidéos :</b> {{ detail.statistics.videoCount }}</p>
        </section><hr class="bg-orange">
{% endfor %}

    <h6 class="text-center mb-4 font-italic titleFont">Les dernieres vidéos :</h6>
    <section class="d-flex justify-content-around flex-wrap">
        {% for key, detail2 in details2 %}

            <div class="grid">
                <figure class="effect-duke">
                    <img src="{{ detail2.snippet.thumbnails.medium.url }}" class="zoom" style="padding-bottom: 5px">
                    <figcaption>
                        <p>{{ detail2.snippet.title|slice(0, 25) }}<br>{% set viewCount = details3[key].0.statistics.viewCount %}
                            {{ viewCount }} vues</p>
                        <a href="{{ path('YVod', {idVideo: detail2.snippet.resourceId.videoId}) }}">View more</a>
                    </figcaption>
                </figure>
            </div>
        {%  endfor %}
    </section>
{% endblock %}