{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    {% for detail in details %}

        <a href="https://www.youtube.com/channel/{{ channelId }}" target="_blank"><img src="{{ detail.snippet.thumbnails.default.url }}" style="padding-top: 5px"></a>
        <a href="https://www.youtube.com/channel/{{ channelId }}" target="_blank"><h3>{{ detail.snippet.title }}</h3></a><br>
        Membres depuis le : {{ detail.snippet.publishedAt|date('d M Y') }}
        <hr>

        <b>Vues totales: {{ detail.statistics.viewCount|number_format(0, '', ' ') }}</b> || <b>Nombre d'abonnés : {{ detail.statistics.subscriberCount|number_format(0, '', ' ') }}</b> || Nombre totale de vidéos : {{ detail.statistics.videoCount }}<hr>
    {% endfor %}
    <h6>Les dernieres vidéos :</h6>
    {% for detail2 in details2 %}
        <a href="{{ path('YVod', {idVideo: detail2.snippet.resourceId.videoId}) }}"><img src="{{ detail2.snippet.thumbnails.medium.url }}" style="padding-bottom: 5px"></a>&nbsp
    {% endfor %}
{% endblock %}