{% extends 'layout.html.twig' %}

{% block title %}{{ message.sujet }} - YouTwitch{% endblock %}

{% block content %}


    <a href="{{ path('all-messages') }}" class="btn btn-orange">Retour</a>
    <div class="container">
        <h6>Expéditeur</h6>
        <p>{{ message.sender.username }}</p>

        <h6>Sujet</h6>
        <p>{{ message.sujet }}</p>

        <h6>Message</h6>
        <div id="conversation">
            <div class="card">
                <p class="card-body">{{ message.contenu }} <br> Envoyé le {{ message.dateenvoi | date('d-m-Y') }} à {{ message.dateenvoi | date('H:i:s') }}</p>
            </div><br>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3 mb-3">Répondre</button>
        </div>
    </div>

    <div class="container">
        <form id="form">
            <div class="form-group">
                <label>Message</label>
                <textarea name="message" class="form-control" id="messageReponse" rows="3"></textarea>
                <input type="hidden" name="idUser" value="{{ message.sender.id }}">
                <input type="hidden" name="sujet" value="{{ message.sujet }}">
                <input type="hidden" name="idMessage" value="{{ message.id }}">
            </div>
            <div class="text-center">
                <button id="envoyer" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
        <div id="result-message"></div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function(){
            $('#envoyer').on('click', function(event){
                event.preventDefault();
                url = "{{ path('ajax-message', {id : message.id}) }}";
                $.ajax({
                    type: 'POST',
                    data: $('#form').serialize(),
                    url: url,
                    timeout: 5000,
                    dataType: 'html',
                    success: function(data){
                        if(data === 'ok'){
                            $('#conversation').append($('<div class="card"><p class="card-body">' + $('#messageReponse').val() + ' <br> Envoyé le ' + Date('{{ message.dateenvoi | date('d-m-Y') }}') + ' par {{ app.user.username }}</p></div>'));
                        }
                        $('#result-message').html(data);
                    },
                    error: function(error){
                        $('#result-message').html('erreur ajax post');
                    }
                })
            })
        })
    </script>

{% endblock %}