{# Mon layout contient tous les éléments communs au pages de mon site #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {# Je crée des blocks qui vont être remplis dynamiquement avec les infos propres à chaque page #}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('img/icon.png') }}" />
    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Permanent+Marker|Rock+Salt" rel="stylesheet">
    {% block css %}{% endblock %}
    <meta name="viewport" content="initial-scale=1">
</head>
<body>

 {{ include('includes/header.html.twig') }}

<div class="container-fluid">
    <div class="row">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\IncludesController::showSidebar'))}}
        {% endif %}
        {{ include('includes/navBurger.html.twig') }}
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-3">
            <h1 class="text-center mt-5 mb-3 titleFont">{% block titlepage %}{% endblock %}</h1>
            {{ include('includes/chat.html.twig') }}
            {# Ce block contiendra le contenu de la page appelée #}
            {% block content %}{% endblock %}

        </main>

    </div>
</div>

<script src="{{ asset('js/js.cookie.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>

<script>
    $(function(){
        
        function chat() {
            if($('body #chat').hasClass('show')){
                $('#result-chat').load("{{ path('chat-display') }}");
            }
        }

        chat();

        $('#action').on('click', function(event){
            event.preventDefault();
            url = "{{ path('chat-add') }}";

            $.ajax({
                // On peut paramétrer notre requête ajax
                type: 'POST', // On utilise POST
                data: $('#message').serialize(),
                url: url,
                timeout: 5000, // Si pas de réponse au bout de 5 secondes, erreur
                dataType: 'html', // On s'attend à récupérer du HTML
                success: function(result){
                    $('#result-chat').html(result);
                    $('body #message').val("");
                },
                error: function(error){
                    console.log(error.responseText);
                }
            })
        })
        setInterval(chat, 3000);
    })
</script>

<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
<script>
    // Je stocks les éléments dans des variables
    let burger = document.getElementById('svg-burger');
    let menu = document.getElementById("menu-principal");
    // Quand je clique sur le burger je vérifie
    // Si j'ai le menu caché donc différent de block alors je l'affiche
    // Sinon je le cache car il est affiché
    burger.onclick = function(){
        if (menu.style.display !== "block") {
            // Ici j'attribue la propriété display avec la valeur block pour afficher le bloc
            menu.style.display = 'block';
        }else{
            menu.style.display = 'none';
        }
    };
</script>

{% block js %}{% endblock %}

</body>
</html>