{% extends 'layout.html.twig' %}

{% block title %}Titre de la vidéo{% endblock %}

{% block titlepage %}

{% if app.request.get('player') == "twitch" %}
    {{ app.request.get('display_name') }}
{% endif %}

{% endblock %}

{% block content %}

    {% block video %}

    {% endblock %}

    <h5 class="ml-4
    mb-3">Clips de la semaine : </h5>
    <div class="d-flex justify-content-around mb-3">

        {% for clip in clips.clips %}

        <div class="d-flex flex-column">
            <a href="{{ path('twitch-clip', {'login': login, 'slug': clip.slug}) }}">
                <img src="{{ clip.thumbnails.small }}" alt="miniature du clip">
            </a>
            <h6 class="text-muted">{{ clip.game }}, le {{ clip.created_at|date('d M') }}</h6>
        </div>   

        {% endfor %}

    </div>

    <hr>

    <h5 class="ml-4
    mb-3">Replays récents : </h5>
    <div class="d-flex justify-content-around mb-3">

        {% for replay in replays %}

        <div class="d-flex flex-column">
            <a href="{{ path('twitch-video', {'vid_id': replay.id, 'login': login}) }}">
                <img src="{{ replay.thumbnail_url }}" alt="miniature du clip">
            </a>
            <h6 class="text-muted">Le {{ replay.created_at|date('d M') }} à {{ replay.created_at|date('G:i') }}</h6>
        </div>   

        {% endfor %}

    </div>


{% endblock %}

{% block js %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
