{% extends 'layout.html.twig' %}

{% block title %}Titre de la vidéo{% endblock %}

{% block titlepage %}

    {% if app.request.get('player') == "twitch" %}
        {{ app.request.get('display_name') }}
    {% endif %}

{% endblock %}

{% block content %}

    <section class="d-flex justify-content-center">
        <h3 class="titleFont">{% block titleLive %}{% endblock %}</h3><br>
    </section>

    <section class="d-flex justify-content-center">
        <p class="font-italic font-weight-bold"><a href="#" class="mr-5 lien">{% block chanelName %}{% endblock %}</a></p>
        <p>{% block view %}{% endblock %}</p>
    </section>

    <hr class="bg-orange">
    {% block video %}

    {% endblock %}
    <hr class="bg-orange">

    {% if clips.clips is empty %}
        <h5 class="text-muted h-150 m-5 p-5 ss-titre">Aucun clip récent</h5>
    {% else %}
        <h5 class="ml-4 mt-5 mb-2 ss-titre">Clips de la semaine : </h5>
        <div class="d-flex justify-content-between mb-3 flex-wrap">
            {% for clip in clips.clips %}

                <div class="d-flex flex-column justify-content-start miniature">
                    <div class="grid">
                        <figure class="effect-duke">
                            <img src="{{ clip.thumbnails.small }}" alt="miniature du clip">
                            <figcaption class="thumbnail-size">
                                <p>{{ clip.game|length > 35 ? clip.game|slice(0, 35) ~ '...' : clip.game }} <br> le {{ clip.created_at|date('d M') }}</p>
                                <a href="{{ path('twitch-clip', {'login': login, 'slug': clip.slug}) }}">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <h6 class="text-muted thumbnail-title d-block col-12 text-center">{{ clip.title|length > 35 ? clip.title|slice(0, 35) ~ '...' : clip.title  }}</h6>
                </div>  

            {% endfor %}
        </div>
    {% endif %}


    <hr class="bg-orange">

    {% if replays is empty %}

        <h5 class="text-muted h-150 m-5 p-5 ss-titre">Aucun replay récent</h5>

    {% else %}

        <h5 class="ml-4 mt-5 mb-2 ss-titre">Replays récents : </h5>
        <div class="d-flex justify-content-between mb-3 flex-wrap">

            {% for replay in replays %}

                <div class="d-flex flex-column justify-content-start miniature">
                    <div class="grid">
                        <figure class="effect-duke">
                            <img src="{{ replay.thumbnail_url }}" alt="miniature du clip">
                            <figcaption>
                                <p>Le {{ replay.created_at|date('d M') }} à {{ replay.created_at|date('G:i') }}</p>
                                <a href="{{ path('twitch-video', {'vid_id': replay.id, 'login': login}) }}">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <h6 class="text-muted thumbnail-title d-block col-12 text-center">{{ replay.title|length > 35 ? replay.title|slice(0, 35) ~ '...' : replay.title  }}</h6>
                </div>

            {% endfor %}


        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
