{% extends 'visionnage.html.twig' %}

{% block chanelName %}{{ display_name }}{% endblock %}
{% block titleLive %}{{ stream_data.title }}{% endblock %}
{% block view %}<b>Viewers : {{ stream_data.viewer_count }}</b>{% endblock %}

{% block video %}
<div class="d-flex justify-content-center mb-4 mt-4">

    <iframe src="https://player.twitch.tv/?channel={{ app.request.get('login') }}&autoplay=true&muted=false"  
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="567"
        width="930">
    </iframe>
    <iframe src="https://www.twitch.tv/embed/{{ app.request.get('login') }}/chat" frameborder="0" scrolling="no" height="567" width="350"></iframe>

</div>
{% endblock %}