{% extends 'layout.html.twig' %}

{% block content %}

    {% block video %}
        {% for infoVideo in infoVideos %}
            <b><a href="{{ path('OwnerChan', {channelId: infoVideo.snippet.channelId}) }}">{{ infoVideo.snippet.channelTitle }}</a></b>
            <h3> {{ infoVideo.snippet.title }}</h3>
            Vues : {{ infoVideo.statistics.viewCount|number_format(0, '', ' ') }}
            <hr>
            <iframe width="720" height="405" src="https://www.youtube.com/embed/{{ infoVideo.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <br>

        {% endfor %}
    {% endblock %}
{% endblock %}