{% extends 'layout.html.twig' %}



{% block content %}

    {% block video %}

        {% for infoVideo in infoVideos %}
            <section class="d-flex justify-content-center">
                <h3 class="titleFont">{{ infoVideo.snippet.title }}</h3><br>
            </section>

            <section class="d-flex justify-content-center">
                <p class="font-italic font-weight-bold"><a href="{{ path('OwnerChan', {channelId: infoVideo.snippet.channelId}) }}" class="mr-5 lien">{{ infoVideo.snippet.channelTitle }}</a></p>
                <p><b>Vues :</b> {{ infoVideo.statistics.viewCount|number_format(0, '', ' ') }}</p>
            </section>

            <hr class="bg-orange">

            <section class="d-flex justify-content-center">
                <iframe width="720" height="405" src="https://www.youtube.com/embed/{{ infoVideo.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </section>
            <br>
        {% endfor %}

    {% endblock %}

{% endblock %}